@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#container{
    background-color: white;
    width: 540px;
    height: 405px;
    border-radius: 10px;
    display: flex;
}

.image_parfum{
    width: 270px;
    height: 405px; 
    border-radius: 10px 0 0 10px;
}

a{
    text-decoration: none;
    color: white;
    background-color: hsl(158, 36%, 37%);
    padding: 10px 62px;
    border-radius: 10px;
}

#texte{
    padding: 30px;
    font-family: 'Montserrat';
}

h1{
    font-family: 'Fraunces';
    font-size: 25px;
    margin-bottom: 20px;
}

h2{
    margin-bottom: 15px;
    color:  hsl(228, 12%, 48%);
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 15px;
}

h3{
    float: left;
    padding: 25px 0;
}

h4{
    margin-top: 0px;
}

.prix_1{
    font-family: 'Fraunces';
    font-size: 30px;
    padding-bottom: 33px;
    color: hsl(158, 36%, 37%);
}

.prix_2{
    padding: 33px 0 0 20px;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    font-weight: normal;
}

p{
    font-size: 13px;
    color:  hsl(228, 12%, 48%);
}

a:hover{
    background-color: hsl(158, 42%, 18%);
}

.icon_cart{
    color: black;
}