@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(30, 38%, 92%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: white;
    width: 600px;
    border-radius: 10px;
    display: flex;
}

.image_parfum{
    width: 100%;
    border-radius: 10px 0 0 10px;
}

button{
    width: 100%;
    height: 45px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    border: none;
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
}

.texte{
    width: 100%;
    padding: 30px;
    font-family: 'Montserrat';
}

h1{
    font-family: 'Fraunces';
    font-size: 30px;
    margin-bottom: 20px;
    width: 190px;
}

h2{
    margin-bottom: 15px;
    color:  hsl(228, 12%, 48%);
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 15px;
}

.h3df{
    display: flex;
    align-items: center;
    margin: 15px 0;
    .prix_1{
        font-family: 'Fraunces';
        font-size: 30px;
        color: hsl(158, 36%, 37%);
    }
    
    .prix_2{
        text-decoration: line-through;
        color: hsl(228, 12%, 48%);
        font-size: 14px;
        margin-left: 15px;
        font-weight: normal;
    }
}


p{
    font-size: 15px;
    color:  hsl(228, 12%, 48%);
}

button:hover{
    background-color: hsl(158, 42%, 18%);
}

.icon_cart{
    color: black;
}

@media screen and (max-width: 650px){
    body{
        padding: 0 15px;
    }
    main{
        flex-direction: column;
    }
    h1{
        width: 100%;
    }
    .image_parfum{
        height: 250px;
        object-fit: cover;
        object-position: 50% 35%;
        border-radius: 10px 10px 0 0;
    }
}